<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>                

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
                        <i class="mdi mdi-account-star-variant"></i>
                        <span class="hide-menu">Staff</span>
                    </a>
                
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/staff/" class="sidebar-link">
                                <i class="mdi mdi-crown"></i>
                                <span class="hide-menu"> All Staff</span></a>
                        </li>
                
                        <li class="sidebar-item">
                            <a href="/staff/new/" class="sidebar-link">
                                <i class="mdi mdi-plus-circle-multiple-outline"></i>
                                <span class="hide-menu"> Create New</span></a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
                        <i class="mdi mdi-readability"></i>
                        <span class="hide-menu">Assets</span>
                    </a>
                
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/assets/" class="sidebar-link">
                                <i class="mdi mdi-crown"></i>
                                <span class="hide-menu"> All Assets</span></a>
                        </li>
                
                        <li class="sidebar-item">
                            <a href="/assets/new/" class="sidebar-link">
                                <i class="mdi mdi-plus-circle-multiple-outline"></i>
                                <span class="hide-menu"> Create New</span></a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="#" aria-expanded="false">
                        <i class="mdi mdi-cash-multiple"></i>
                        <span class="hide-menu">Funds</span>
                    </a>

                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/funds/" class="sidebar-link">
                                <i class="mdi mdi-crown"></i>
                                <span class="hide-menu"> Finance Details</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/funds/expenditures/" class="sidebar-link">
                                <i class="mdi mdi-arrow-top-right"></i>
                                <span class="hide-menu"> Expenditures</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/funds/earnings/" class="sidebar-link">
                                <i class="mdi mdi-arrow-bottom-left"></i>
                                <span class="hide-menu"> Earnings</span></a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">Students</span>
                    </a>

                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/students" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> All Student</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="students/new" class="sidebar-link">
                                <i class="mdi mdi-plus-circle-multiple-outline"></i>
                                <span class="hide-menu"> Create New</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="students/l4" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> Level 4</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="students/l5" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> Level 5</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="students/l6" class="sidebar-link">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu"> Level 6</span></a>
                        </li>
                    </ul>                    
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-briefcase"></i>
                        <span class="hide-menu">Budget </span>
                    </a>

                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/budgets" class="sidebar-link">
                                <i class="mdi mdi-crown"></i>
                                <span class="hide-menu"> All Budgets</span></a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/budgets/new" class="sidebar-link">
                                <i class="mdi mdi-plus-circle-multiple-outline"></i>
                                <span class="hide-menu"> Create New</span></a>
                        </li>
                    </ul>                    
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/reports/" aria-expanded="false">
                        <i class="mdi mdi-chart-pie"></i>
                        <span class="hide-menu">Reports</span>
                    </a>
                </li>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->