<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Record Asset</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Assets
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form id="assetsForm" class="form-horizontal" action="/assets" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="stuID" class="col-sm-3 text-end control-label col-form-label">Asset Name</label>
                                    <div class="col-md-9">
                                        <input 
                                            type="text" class="form-control" 
                                            id="stuID" name="name" placeholder="name" 
                                        />
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-md-3 mt-3">Price</label>
                                    <div class="col-md-9">
                                        <input 
                                            type="text" class="form-control" name="price" 
                                            id="fname" placeholder="Price" 
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="fname" class="col-sm-3 text-end control-label col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea name="description" id="" cols="30" rows="15" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label for="lname" class="col-sm-3 text-end control-label col-form-label">Thumbnail</label>
                                    <div class="col-sm-9">
                                        <input 
                                            type="file" class=" form-control filepond" 
                                            name="thumbnail" id="lname" 
                                        />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const assetsForm = document.querySelector('#assetsForm');
    const taxed = document.querySelector('#taxed');
    const amt = assetsForm.price;
    amt.addEventListener('keyup',()=>{
        taxed.textContent = "K " + parseInt(amt.value) * 0.15;
    })
</script>